/* Custom Stylesheet */

body {
    background-color: #f7fafc;
}

.avatar {
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    box-shadow: 0 0.125rem 0.25rem rgba(72, 86, 128, 0.274) !important;
  }

.bg-purple {
    background-color: #802e9d;
}

.form-control,
.btn,
.card,
.modal-content,
.alert {
    border-radius: .6rem !important;
}

.card {
    border: 1px solid #eeeded;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.027) !important;
}

.card-header {
    background-color: #f9f9f97c;
    border-bottom: .2px solid #eeeded;
    border-radius: .6rem .6rem 0 0 !important;
}

.card-footer {
    background-color: #f9f9f97c;
    border-top: .2px solid #eeeded;
    border-radius: 0 0 .6rem .6rem !important;
}

.user-card:hover {
    box-shadow: 0 0.125rem 0.25rem rgba(213, 224, 255, 0.527) !important;
}

a {
    text-decoration: none !important;
}



/* Spinner */

.spin {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* Alert | Notification Popup */

.snackbar {
    padding: 1.2rem;
    border-radius: .4rem;
    bottom: 2rem;
    right: 2rem;
    position: fixed;
    animation-name: snackbar;
    animation-duration: 6s;
    opacity: 0%;
}

.snackbar-success {
    background-color: #68d391;
    color: #22543d;
}

.snackbar-danger {
    background-color: #fc8181;
    color: #742a2a;
}

@keyframes snackbar {
    from {
        opacity: 0%;
    }

    10% {
        opacity: 100%;
    }

    60% {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}






